<h1>Hello World</h1>
<!-- <invapp-products></invapp-products> -->
<invapp-container>
    <invapp-user></invapp-user>
    <h1>This is from ng-content</h1>
    <invapp-products></invapp-products>
</invapp-container>

<h1>
    <div #name></div>
</h1>


<!-- Ng Switch Example -->
<!-- <div [ngSwitch]="loginRole">
    <div *ngSwitchCase="'User'">Welocme User!</div>
    <div *ngSwitchCase="'Admin'">
        <invapp-products></invapp-products>
    </div>
    <div *ngSwitchDefault>
        You are not authorized to view this page.
    </div>
</div> -->

<!-- <div>
    <ng-template #user></ng-template>
</div> -->